.place {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    position: relative;
}

.amenities {
    margin-top: 40px;
}

.amenities h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.amenities-list {
    list-style: none;
    padding: 0;
}

.amenities-list li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.reviews {
    margin-top: 40px;
}

.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.reviews-list {
    list-style: none;
    padding: 0;
}

.reviews-list li {
    margin: 20px 0;
}

.reviews-list h3 {
    font-size: 14px;
}

.reviews-list p {
    font-size: 12px;
}

